body{
    margin: 0px;
}

.headerClass{
    display: flex;
    background-color:rgb(87, 89, 230);
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(223, 223, 174);
}

.rpsButtons{
    display: flex;
    padding: 100px;
    background-color: rgb(64, 57, 160);
    justify-content:center;
}